.flash {
  justify-content: space-between;
  padding: 0.9375rem 3.125rem;
  align-items: center;
  border-radius: 8px;
  font-size: 1.25rem;
  font-weight: bold;
  position: fixed;
  top: 0.9375rem;
  display: flex;
  color: #fff;
  width: 70%;
  left: 15%;

  label {
    cursor: pointer;
  }

  &.error, &.alert {
    background: $primary-red;
  }

  &.success, &.notice {
    background: $primary-green;
  }
}

.visually-hidden {
  display: none;
}

input[type="checkbox"]:checked ~ .flash {
  display: none;
}

